<div class="container mx-auto">
  <div class="row-1 flex justify-center items-center py-3">
    <h3>Sobre Mi</h3>
  </div>
  <div class="row-2 flex">
    <div class="col-1 flex-shrink-0">
      <img
        src="./programador.webp"
        class="w-[150px] rounded-full border border-gray-400"
        alt="Fernando Mautino Huerta"
      />
    </div>
    <div class="col-2 flex flex-col items-start p-3 segundo">
      <h4 class="text-xl font-bold">Fernando Mautino Huerta</h4>
      <p class="tercero">
        Soy estudiante de último año en Ingeniería de Sistemas e Informática.
        <p class="tercero">Me especializo en programación backend.</p>
      </p>
    </div>
  </div>
</div>
