---
import About from "./about.astro";
import Study from "./study.astro";
---

<div class="Contenent-general">
  <div class="wrapper">
    <div class="gn grid1 bg-blue-950 bg-opacity-50  p-4 rounded-lg">
        <About style="padding-top: 2px;"/>
    </div>
    <div class="gn grid2 bg-blue-950 bg-opacity-50 p-4 rounded-lg">
        <Study/>
    </div>
    <div class="gn grid3 bg-blue-950 bg-opacity-50  p-4 rounded-lg">
        Contactame
    </div>
    <div class="gn grid4 bg-blue-950 bg-opacity-50  p-4 rounded-lg">
        Proyectos
    </div>
  </div>
</div>

