<div class="container mx-auto">
  <div class="row-1 flex justify-center items-center py-3">
    <h3>Mis Estudios</h3>
  </div>

  <div class="row-2 flex p-6">
    <div class="col-1 flex-shrink-0">
      <img
        src="./../../public/study.webp"
        alt="study"
        class="w-[150px] rounded-full border border-gray-400"
      />
    </div>

    <div class="col-2 flex flex-col gap-2 px-4 py-3 text-center">
      <div class="segundo text-xl font-bold px-10">Base de Datos</div>
      <div class="tercero">
        <ol class="pl-4">
          <li>Microsoft SQL server</li>
          <li>MySQL server</li>
          <li>PostgreSQL</li>
        </ol>
      </div>
    </div>
  </div>

  <div class="row-3 flex">
    <div class="col-1 flex flex-col gap-2 px-8 py-3">
      <div class="segundo text-xl font-bold">Backend Web</div>
      <div class="tercero">
        <ol class="pl-4">
          <li>ASP .Net core</li>
          <li>Express Js</li>
          <li>Php</li>
        </ol>
      </div>
    </div>

    <div class="col-2 flex flex-col gap-2 px-10 py-3">
      <div class="segundo text-xl font-bold">Frontend Web</div>
      <div class="tercero">
        <ol>
          <li>React Js</li>
          <li>Astro</li>
        </ol>
      </div>
    </div>
  </div>
  <a href="">Ver CV</a>
</div>
